.intro{background: #8bcbc8; width: 100%; height: 100%; position: fixed; z-index: 10;}
.icon-logo{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

.ui-datepicker-header.swipe, .ui-widget-header.swipe{
    height: 58px;
}
.ui-datepicker-title.swipe{
    font-size: 14px !important;
    line-height: 46px !important;
}
.ui-datepicker-title.swipe::after{
    position: absolute;
    content: "";
    top: 28px; left: 50%; 
    transform: translate(-50%);
    width: 32px; height: 32px;
    background-color: #8bcbc8;
    background: url(../img/wSprite.png);
    background-position: -400px -100px;
    background-size: 900px 1000px;
}
/* 상단 네비게이션 */
.btnGroup{position: relative;}
.btnGroup a{
    position: absolute;
    width:40px; margin-top: 10px;
    z-index: 1;
}
.btnGroup a:nth-of-type(1){
    left: 10px;
    height: 40px;
}
.btnGroup h1{font-size: 20px; color: #fff;line-height: 60px;}
.btnGroup a:last-of-type{
    right: 10px;
    color: #fff; 
    line-height: 40px;
    text-align: center;
}

/* 툴팁 */
.tipBox{
    position: absolute; top: 42px; left: 35px;
    max-width: 140px; 
    background: #fff; z-index: 3;
    border: 2px solid #8bcbc8;
    box-sizing: border-box;
    display: none;
}
/* 상단영역 */
.tipBox .top li{position: relative;}
.tipBox .top li span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* tipBox span, p공통부분 */
.tipBox span, .tipBox .bottom p{font-size: 12px; color: #666;}
/* 중간구분선 */
.tipBox span.line{
    width: 80%; height: 1px;
    background: #ccc;
    display: block; margin: 4px auto;
}
/* 하단영역 */
.tipBox .bottom{padding: 10px 7px;}
.tipBox .wrap{text-align: center; margin-bottom: 10px;}
.tipBox .bottom p{
    display: inline-block;
    border-radius: 50%;
    line-height:20px; width: 20px;
    margin: 0 3px;
}
.tipBox .bottom p:first-child{color: #fff; font-weight: bolder; background: #8bcbc8;}
.tipBox .bottom p:nth-child(2){background: #dae9e4;}
.tipBox .bottom p:nth-child(3){color: #8bcbc8; font-weight: bolder; background: #fae3d9;}
.tipBox .bottom p:nth-child(4){background: #fae3d9;}
.tipBox .bottom span::before{
    display: inline-block;
    content: "";
    width: 6px; height: 6px;
    border-radius: 50%;
    vertical-align: middle; margin-right: 3px;
}

.tipBox .bottom span:nth-of-type(1)::before{background: #8bcbc8;}
.tipBox .bottom span:nth-of-type(2)::before{background: #dae9e4;}
.tipBox .bottom span:nth-of-type(3)::before{background: #fae3d9;}
.tipBox .bottom span:nth-of-type(4)::before{content:"3"; background: #fae3d9;color: #666; font-size: 3px;}

/* 캘린더 =====================================================================================*/
.ui-widget{font-family: 'NanumSquareRound', sans-serif;}
.calendar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.ui-widget-header{background: #000; color: #fff; border: none;}
.ui-datepicker-week-end{color: red;}
.ui-datepicker-week-end:last-child{color: #8bcbc8;}
.ui-state-default, .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active{background: none; border: 0; text-align: center;}
.ui-widget.ui-widget-content{border: none;position: fixed;}
.ui-datepicker{width: 100%; padding: 0;}
.ui-datepicker .ui-datepicker-title{
    line-height: 60px; color: #fff; font-size: 18px;
    font-weight: bolder;

}
.ui-datepicker .ui-datepicker-header{padding: 0;background: #8bcbc8; border-radius: unset;}
.ui-widget-header{background: none;}


/* .ui-datepicker table {margin: 0;} */
.ui-datepicker th{font-weight: normal; font-size: 16px;}
/* .ui-state-highlight, .ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{color: #fff;} */
.ui-datepicker-calendar tbody tr{ border-top: 1px solid #ccc;}
.ui-datepicker td{padding: 4px 0 40px 0;}
.ui-state-default, .ui-widget-content .ui-state-default{
    border: 1px solid transparent; 
    width: 25px; height: 25px;
    border-radius:50%;  margin: auto;
}
.ui-datepicker td span, .ui-datepicker td a{
    font-size: 18px;
    padding: 0;
    margin: 0 14px;
    line-height: 23px;
}
.ui-datepicker td:nth-child(1) a{color: red;}
.ui-datepicker td:nth-child(7) a{color: #8bcbc8;}

.ui-state-active, .ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover{
   color: #8bcbc8 !important;
   font-weight: 600;
   border: 1px solid #8bcbc8;
}
.ui-state-default, .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, .ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active
.ui-widget-content a{color: #666;}
.ui-state-active.start,
.ui-state-active.love,
.ui-state-active.loveP,
.ui-state-active.drug{
    position: relative;
}
.ui-state-active.start{
    color: #fff !important;
}
.ui-state-active.start::before{
    position: absolute;
    z-index: -1;
    content: "";
    top: -4px; left: -3px; 
    width: 56px; height: 32px;
    background-color: #8bcbc8;
}
.ui-state-active.love::after,
.ui-state-active.loveP::after,
.ui-state-active.drug::after{
    position: absolute;
    z-index: -1;
    content: "";
    top: 22px; left: -3px; 
    width: 32px; height: 32px;
    background: url(../img/wSprite.png);
    background-size: 900px 1000px;
}
.ui-state-active.love::after{
    background-position: -850px -100px;
}

.ui-state-active.loveP::after{
    background-position: -550px -100px;
}

.ui-state-active.drug::after{
    background-position: -850px -150px;
}


/* ==================================================================================== */
.card{
    position: absolute;
    width: 100%; height: 131px;
    overflow: hidden;
    background:#fff; color: #c1c1c1;
    bottom: 60px; z-index: 2;
    border-top: 1px solid #ccc;

}
.card>span{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.card .col{
    margin-bottom: 10px;
    margin: 10px auto;
    max-width: 597px;
}
.card .col>span{
    font-size: 18px; 
    color: #666;
    vertical-align: top;
    padding: 0 10px;
}
.card .col .box{
    position: relative;
    display: inline-block;
    width: 85%;
    height: 90px;
    background: #fff;
    border: 1.2px solid #8bcbc8;
    box-sizing: border-box;
}
.card .col .box div:first-child{padding: 5px 0;}
.card .col .box i{float: left;}
.card .col .box span{
    font-size: 14px;
    color: #666;
    line-height: 32px;
    font-weight: 400;
}

.card.swipe{
    overflow: scroll;
    background: #efefef;
}
.btnGroup.swipe, .ui-datepicker-prev.swipe, .ui-datepicker-next.swipe{display: none;}
.cupRecord{display: inline-block;}
.conRecord{    
    position: absolute;
    right: 0;
    bottom: 7px;
}
.conRecord i{padding-right: 10px;}
/* tabPop */

.tabPop{
    position: absolute; z-index: 3;
    min-width: 300px; 
    height: 50px;
    background: #fff;
    border: 2px solid #8bcbc8;
    display: none;
}
.tabPop.open{
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
.tabPop ul{overflow: hidden;}
.tabPop ul li{float: left;height: 50px;}
.tabPop ul li a{}

.bg{
    position: fixed;
    top: 0; left: 0; z-index: 2;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
.tbg{
    position: fixed;
    top: 0; left: 0; z-index: 2;
    width: 100%; height: 100%;
    background: transparent;
    display: none;
}

/* tabMore 스타일 ========================================================================*/
section.tabMore{padding-top: 102px;}
header{    
    position: fixed; top: 0;
    right: 0; left: 0;
    background: #fff;
    z-index: 1;
}
header .top{position: relative;height: 60px;}
header .top a{
    position: absolute;
    top: 50%; transform: translateY(-50%);
}
header .top a:first-of-type{left: 10px;}
header .top a:last-of-type{right: 10px;}
header .top>span{
    position: absolute;
    width: 40px; line-height: 40px;
    font-size: 18px; font-weight: bold; 
    color: #8bcbc8;
    left: 50%; top:50%; transform: translate(-50%, -50%);
    border:1px solid #8bcbc8;
    border-radius: 50%;
    text-align: center;
}
.navWrap{
    overflow: hidden;
    position:relative;
}
.tabMenu{
    height: 42px;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
}
.tabMenu ul{
    text-align: center;
    line-height: 42px;  
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;  
}
.tabMenu ul li{
    display: inline-block;
    width: 33.33%;
}

.tabMenu ul li a{
    min-width: 120px;
}
.tabMenu ul li a.active{
    font-weight: 500;
    color: #8bcbc8; 
}
.effect{
    position: absolute;
    left: 0%;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
    width: 120px;
    height: 6px;
    top: 96px;
    background: #8bcbc8;
}

/* col 공통 */
#symptom .col, #symptom .editBox, #feelings .col{text-align: center;}
#symptom .col i, #symptom .editBox i, #feelings .col i {margin: 10px 16px;}

/* 기분탭 빼고 초기 안보이게 하기 */
.contents > div{display: none;}
/* 기분탭 */
#feelings .textBox, #symptom .textBox{
    text-align: center;
}
/* 증상탭 */
#symptom .editBox{
    display: none;
}




/* 생리양탭 */
#amount{
    text-align: center;
}
#amount > p{padding: 30px 0; font-size: 14px;}
#amount > p b{}
#amount > p span{
    display: inline-block;
    border-radius: 50%;
    width: 15px; line-height: 15px;
    color:#fff; background: #fdae84;
    font-size: 10px; 
    vertical-align: bottom;
}
#amount > p button{color: #ccc; text-decoration: underline;}
#amount .plusBox, .amountBox{
    position: relative;
    display: inline-block;
    width: 160px; height: 160px;
    background: #8bcbc8;
    margin: auto;
}

#amount .boxContents .plusBox button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#amount .boxContents .amountBox{
    position: relative;
    background: #fff;
    border: 1px solid #8bcbc8;
    box-sizing: border-box;
    vertical-align: top;
}
#amount .boxContents .amountBox span{
    position: absolute;
    right: 10px; bottom: 10px;
}

/* 오늘의 생리컵 수정하기 */
.cupEdit, .cupInput{
    position: absolute; bottom: 0;
    width:100%; height: 260px;
    z-index: 3;
    background: #fff;
    display: none;
}
.cupEdit > p{
    font-size: 22px;
    padding: 30px 0;
}
.cupEdit .wrap {
    width: 70%;
    margin: auto;
    text-align: left;
    padding-bottom: 30px;
}
.cupEdit .wrap > label{
    color: #8bcbc8;
    font-size: 18px;
    line-height: 30px;
}
.cupEdit .wrap select{
    float: right;
    width: 60%; height: 30px;
   
}
/* 라디오박스 customize */
.cupEdit .wrap-body{
    float: right;
    display: inline-block;
    width: 174px;
    text-align: center;
}
.cupEdit .wrap label.btn{
    display: inline-block;
    width: 40px; height: 40px;
    border-radius: 50%;
    background: #ccc; color: #fff;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    font-size: 20px;
}
.cupEdit .wrap label.btn.active{
    background: #8bcbc8;
}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:last-child)>.btn{
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
.btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:first-child)>.btn{
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.cupEdit .wrap input, #drugPage .radio input{display: none;}

/* 생리양 작성하기 */
.cupInput .box{height: 100%;}
.cupInput .wrap{height: 200px;}
.cupInput .wrap *{vertical-align: middle;}
.cupInput .wrap .controlGroup{line-height: 200px;}

#amount .cupInputTip{
    position: absolute;
    z-index: 3;
    color: #fff;
    left: 50%; bottom: 320px;
    transform: translateX(-50%);
    width: 100%;
    display: none;
}
#amount .cupInputTip p{
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
}
#amount .cupInputTip .wrap{}
#amount .cupInputTip .wrap .iconGroup{margin: 0 20px; display: inline-block;}
#amount .cupInputTip .wrap .iconGroup i{display: block;}
/* 피임약탭 */
#drugPage .drugInput .form{
    width: 100% ;line-height: 50px;
    border-bottom: 1px solid #ccc;
}

#drugPage .wrap-body{display:inline-block;padding-left: 38px;}

#drugPage .drugInput .form label{
    color: #666;
    font-size: 14px;
}
#drugPage .form:nth-child(2) label:nth-child(2){padding-left: 38px;}
#drugPage .drugInput .form > label.name{
    font-size: 16px; color: #000;
    padding-left: 20px;
    display: inline-block;
    width: 110px;
}
#drugPage .drugInput .radio .btn-group label:first-child{margin-right: 25px;}
#drugPage .drugInput .radio .btn-group label.active{
    color: #8bcbc8 !important;
    text-decoration: underline;
    font-weight: 600;
}
#drugPage .drugInput .form .left{float: left;}
#drugPage .drugInput .form .start,
#drugPage .drugInput .form .end,
#drugPage .drugInput .form .drugTime
{text-align: center; }
#drugPage .drugInput .form .end{padding-left: 110px;}
#drugPage .drugInput .form .start::before,
#drugPage .drugInput .form .end::before{
    display: inline-block;
    content: '';
    background: #ccc;
    width: 10px; height: 10px;
    border-radius: 50%;
}
#drugPage .drugInput .form .end::before{background: #8bcbc8;}
#drugPage select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12px;
    width: 38px;
}
#drugPage .drugInput .form label ~ button,
#drugPage .drugInput .form input ~ button{vertical-align: middle;}
input[type=text]{
    background: #fff;
    border: 1px solid transparent;
    width: 120px;
}
#drugPage .end input::placeholder, #drugPage .drugTime input::placeholder {
    color: #8bcbc8;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #8bcbc8;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #8bcbc8;
  }

  #ui-datepicker-div{
      left: 0 !important;
  }
/* 메모탭 */
#memo{
    /* 화면에따라 높이 꽉차게 하는 방법 (위에 상단 header제외시키고) */
    height: -o-calc(100vh - 102px); /* opera */
    height: -webkit-calc(100vh - 102px); /* google, safari */
    height: -moz-calc(100vh - 102px); /* firefox */ 
    background: #efefef;}
#memo .wrap{padding-top: 20px;}
#memo .form{position:relative; padding: 0 20px; }
#memo .form textarea.autosize{resize: none; line-height: 20px;  width: 100%; font-size: 16px;}
#memo button.btnPlus{
    display: block;
    margin: auto;
}
#memo .list .item {
    position: relative;
    height: 60px;
    margin-bottom: 10px;   
}
#memo .list .item .item-swipe {
    background: #ffffff;
    position: relative;
    top: 0; bottom: 0; left: 0;
    z-index: 1;
    padding: 10px;
    height: 60px;
    border: 1px solid transparent;
}
#memo .list .item textarea.item-swipe.open {
    background: #fff;
}
#memo .list .item .item-back {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#memo .list .item .item-back .action {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 100px;
}
#memo .list .item .item-back .action.first {
    right:20px;
}
#memo .btn-delete {
    background: #8bcbc8;
}
/* 처음 메세지 */
.msg{
    position: fixed; z-index: 2;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    width: 260px; height: 160px;
    color: #fff;
    background: #8bcbc8;
    text-align: center;
    display: none;
}
.msg p{
    padding: 30px 20px;
    line-height: 26px;
    font-size: 18px; 
    font-weight: 500;
}
.msg button{
    color: #fff; 
    text-decoration: underline;
}