@charset "UTF-8";
*{margin: 0; padding: 0;}
li{list-style: none; color: #000;}
a{text-decoration: none; color: #000; display: inline-block;}
button{background: none; border: 0;}
.blind{font-size: 0; position: absolute; left: -9999px;}

body{font-family: 'NanumSquareRound',sans-serif;}

/* 스프라이트 이미지------------------------------------------------------------------------------------- */
/* 아이콘 */
.icon{background-image: url(../img/wSprite.png); display: inline-block; background-size: 900px 1000px;}
.icon-google{width: 40px; height: 40px; background-position: 0 0;}
.icon-facebook{width: 40px;height: 40px; background-position: -50px 0;}
.icon-trash{width: 40px; height: 40px; background-position: -100px 0;}
.icon-startW{width: 50px; height: 50px; background-position: -150px 0;}
.icon-start{width: 50px; height: 50px; background-position: -200px 0;}
.icon-end{width: 50px; height: 50px; background-position: -250px 0;}
.icon-love{width: 50px; height: 50px; background-position: -300px 0;}
.icon-loveP{width: 50px; height: 50px; background-position: -350px 0;}
.icon-drug{width: 50px; height: 50px; background-position: -400px 0;}
.icon-plus{width: 50px; height: 50px; background-position: -450px 0;}
.icon-minus{width: 50px; height:50px; background-position: -500px 0;}
.icon-plusW{width: 50px; height:50px; background-position: -550px 0;}


/* 2번째 줄 */
.icon-tip{width: 40px; height: 40px; background-position: 0 -50px;}
.icon-myPage{width:50px; height:50px; background-position: -50px -50px;}
.icon-graph{width:50px; height:50px; background-position: -100px -50px;}
.icon-wcup{width:50px; height:50px; background-position: -150px -50px;}
.icon-setting{width:50px; height:50px; background-position: -200px -50px;}
.icon-loveB{width:50px; height:50px; background-position: -250px -50px;}
.icon-lovePB{width:50px; height:50px; background-position: -300px -50px;}
.icon-loveO{width:50px; height:50px; background-position: -350px -50px;}
.icon-lovePO{width:50px; height:50px; background-position: -400px -50px;}
.icon-drugB{width:50px; height:50px; background-position: -450px -50px;}
.icon-plusBSmall{width: 40px; height: 40px; background-position: -500px -50px;}
.icon-plusWSmall{width: 40px; height: 40px; background-position: -550px -50px;}


/* 3번째 줄 */
.icon-closeW{width: 50px; height: 50px;background-position: 0 100px;}
.icon-myPage.on{width:50px; height:50px; background-position: -50px -100px;}
.icon-graph.on{width:50px; height:50px; background-position: -100px -100px;}
.icon-wcup.on{width:50px; height:50px; background-position: -150px -100px;}
.icon-setting.on{width:50px; height:50px; background-position: -200px -100px;}
.icon-cup1{width:40px; height: 40px; background-position:-250px -100px;}
.icon-cup2{width:40px; height: 40px; background-position:-300px -100px;}
.icon-cup3{width:40px; height: 40px; background-position:-350px -100px;}
.icon-dropdownW{width:32px; height:32px; background-position: -400px -100px;}
.icon-check{width: 40px; height: 40px;background-position: -450px -100px;}
.icon-dropup{width: 40px; height: 40px; background-position: -500px 100px;}
.icon-lovePSmall, .icon-tipLoveP{width: 32px; height: 32px; background-position:-550px -100px;}


/* 4번째 줄 */
.icon-close{width: 40px; height: 40px;background-position: 0 -150px;}
.icon-closeSmall{width: 32px; height: 32px;background-position:-50px -150px ;}
.icon-del{width: 40px; height: 40px;background-position: -100px -150px;}
.icon-pen{width: 40px; height: 40px;background-position: -150px -150px;}
.icon-arrowL{width: 40px; height: 40px;background-position: -200px -150px;}
.icon-arrowLG{width: 40px; height: 40px;background-position: -250px -150px;}
.icon-arrowRG{width: 40px; height: 40px;background-position:-300px -150px;}
.icon-dropdownG{width: 40px; height: 40px;background-position: -350px -150px;}
.icon-startMiddle{width: 40px; height: 40px; background-position: -400px -150px;}
.icon-endMiddle{width: 40px; height: 40px; background-position: -450px -150px;}
.icon-startSmall,.icon-tipStart{width: 32px; height: 32px; background-position:-500px -150px;}
.icon-endSmall, .icon-tipEnd{width: 32px; height: 32px; background-position:-550px -150px;}


/* 5번째 줄 */
.icon-dDay.on{width:60px; height:60px; background-position: 0 -200px;}
.icon-dDay{width:60px; height:60px; background-position: -100px -200px;}
.icon-cal.on{width:60px; height:60px; background-position: -200px -200px;}
.icon-cal{width:60px; height:60px; background-position: -300px -200px;}
.icon-logout{width:60px; height:60px; background-position: -400px -200px;}
.icon-login{width:60px; height:60px; background-position: -500px -200px;}


/* 6번째 줄 */
.icon-startBig{width: 100px; height: 100px; background-position:0 -300px;}
.icon-endBig{width: 100px; height: 100px; background-position:-100px -300px;}
.icon-cup1G{width:100px; height: 100px; background-position: -200px -300px;}
.icon-cup2G{width:100px; height: 100px; background-position: -300px -300px;}
.icon-cup3G{width:100px; height: 100px; background-position: -400px -300px;}
.icon-closeWBig{width: 60px; height: 60px; background-position: -500px -300px;}


/* 오른쪽 */
.icon-logo{width:90px; height:97px; background-position: -600px 0;}
.icon-wcupB{width:21px; height:14px;background-position: -700px 0;}
.icon-wcupG{width:21px; height:14px;background-position: -750px 0;}
.icon-tipArrowL{width:60px; height:40px; background-position: -800px 0;}
.icon-penSmall{width:24px; height:24px; background-position: -700px -50px;}
.icon-logoutSmall{width:24px; height:24px; background-position: -750px -50px;}
.icon-tipArrowR{width:60px; height:40px; background-position: -800px -50px;}
.icon-logoBig{width:236px; height:293px; background-position: -600px -100px;}
.icon-loveSmall, .icon-tipLove{width: 32px; height: 32px; background-position:-850px -100px;}
.icon-drugSmall, .icon-tipDrug{width: 32px; height: 32px; background-position:-850px -150px;}


/* 증상아이콘 */
.icon-bad{width: 80px;height: 80px; background-position: 0 -400px;}
.icon-soso{width: 80px;height: 80px; background-position: -100px -400px;}
.icon-happy{width: 80px;height: 80px; background-position: 0 -500px;}
.icon-sad{width: 80px;height: 80px; background-position: -100px -500px;}
.icon-shy{width: 80px;height: 80px; background-position: 0 -600px;}
.icon-shocked{width: 80px;height: 80px; background-position: -100px -600px;}

.icon-bad.on{width: 80px;height: 80px; background-position: 0 -700px;}
.icon-soso.on{width: 80px;height: 80px; background-position: -100px -700px;}
.icon-happy.on{width: 80px;height: 80px; background-position: 0 -800px;}
.icon-sad.on{width: 80px;height: 80px; background-position: -100px -800px;}
.icon-shy.on{width: 80px;height: 80px; background-position: 0 -900px;}
.icon-shocked.on{width: 80px;height: 80px; background-position: -100px -900px;}

.icon-bad.on2{width: 80px;height: 80px; background-position: -200px -400px;}
.icon-soso.on2{width: 80px;height: 80px; background-position: -200px -500px;}
.icon-happy.on2{width: 80px;height: 80px; background-position: -200px -600px;}
.icon-sad.on2{width: 80px;height: 80px; background-position: -200px -700px;}
.icon-shy.on2{width: 80px;height: 80px; background-position: -200px -800px;}
.icon-shocked.on2{width: 80px;height: 80px; background-position: -200px -900px;}

.icon-appetite{width: 80px;height: 80px; background-position: -300px -400px;}
.icon-fever{width: 80px;height: 80px; background-position:  -400px -400px;}
.icon-dizzy{width: 80px;height: 80px; background-position: -500px -400px;}
.icon-acne{width: 80px;height: 80px; background-position:-300px -500px;}
.icon-chestPain{width: 80px;height: 80px; background-position: -400px -500px;}
.icon-constipation{width: 80px;height: 80px; background-position: -500px -500px;}
.icon-indigestion{width: 80px;height: 80px; background-position: -300px -600px;}
.icon-diarrhea{width: 80px;height: 80px; background-position: -400px -600px;}
.icon-backache{width: 80px;height: 80px; background-position: -500px -600px;}
.icon-diabetes{width: 80px;height: 80px; background-position: 0 -400px;}
.icon-cough{width: 80px;height: 80px; background-position: -100px -400px;}
.icon-throwUp{width: 80px;height: 80px; background-position: -100px -600px;}

.icon-appetite.edit{width: 80px;height: 80px; background-position:-300px -700px;}
.icon-fever.edit{width: 80px;height: 80px; background-position: -400px -700px;}
.icon-dizzy.edit{width: 80px;height: 80px; background-position: -500px -700px;}
.icon-acne.edit{width: 80px;height: 80px; background-position: -300px -800px;}
.icon-chestPain.edit{width: 80px;height: 80px; background-position: -400px -800px;}
.icon-constipation.edit{width: 80px;height: 80px; background-position: -500px -800px;}
.icon-indigestion.edit{width: 80px;height: 80px; background-position:-300px -900px;}
.icon-diarrhea.edit{width: 80px;height: 80px; background-position: -400px -900px;}
.icon-backache.edit{width: 80px;height: 80px; background-position: -500px -900px;}
.icon-diabetes.edit{width: 80px;height: 80px; background-position:-300px -700px;}
.icon-cough.edit{width: 80px;height: 80px; background-position:-300px -700px;}
.icon-throwUp.edit{width: 80px;height: 80px; background-position:-300px -700px;}

.icon-appetite.on{width: 80px;height: 80px; background-position: -600px -400px;}
.icon-fever.on{width: 80px;height: 80px; background-position:-700px -400px ;}
.icon-dizzy.on{width: 80px;height: 80px; background-position:-800px -400px;}
.icon-acne.on{width: 80px;height: 80px; background-position:-600px -500px;}
.icon-chestPain.on{width: 80px;height: 80px; background-position:-700px -500px ;}
.icon-constipation.on{width: 80px;height: 80px; background-position:-800px -500px ;}
.icon-indigestion.on{width: 80px;height: 80px; background-position:-600px -600px;}
.icon-diarrhea.on{width: 80px;height: 80px; background-position: -700px -600px;}
.icon-backache.on{width: 80px;height: 80px; background-position:-800px -600px;}
.icon-diabetes.on{width: 80px;height: 80px; background-position:-600px -400px;}
.icon-cough.on{width: 80px;height: 80px; background-position:-600px -400px;}
.icon-throwUp.on{width: 80px;height: 80px; background-position:-600px -400px;}

.icon-appetite.on2{width: 80px;height: 80px; background-position:-600px -700px ;}
.icon-fever.on2{width: 80px;height: 80px; background-position:-700px -700px ;}
.icon-dizzy.on2{width: 80px;height: 80px; background-position:-800px -700px;}
.icon-acne.on2{width: 80px;height: 80px; background-position:-600px -800px;}
.icon-chestPain.on2{width: 80px;height: 80px; background-position: -700px -800px;}
.icon-constipation.on2{width: 80px;height: 80px; background-position: -800px -800px;}
.icon-indigestion.on2{width: 80px;height: 80px; background-position:-600px -900px;}
.icon-diarrhea.on2{width: 80px;height: 80px; background-position: -700px -900px;}
.icon-backache.on2{width: 80px;height: 80px; background-position:-800px -900px;}
.icon-diabetes.on2{width: 80px;height: 80px; background-position:-600px -700px ;}
.icon-cough.on2{width: 80px;height: 80px; background-position:-600px -700px ;}
.icon-throwUp.on2{width: 80px;height: 80px; background-position:-600px -700px ;}
/*------------------------------------------------------------------------------------- */
/* 하단네비게이션 */
.bottomNav{
    position: fixed; bottom: 0;
    width: 100%;height: 60px;
    background: #fff;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}
.bottomNav ul{overflow: hidden; height: 100%;}
.bottomNav ul li{float: left; height: 100%; width: 20%; text-align: center;}
.bottomNav ul li a{ line-height: 100px;}

/* dDayYet----------------------------------------------------------------------- */
.dDayYet{
    height: 100vh; background: #8bcbc8;
    display: none;
}
.dDayYet .circle{
    width: 300px;
    height: 300px;
    background: #fff;
    position: relative;
    border-radius: 50%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}
.dDayYet br{
    content: '';
    margin: 0;
}
.dDayYet .day-alert {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    font-weight: bold;
}
.dDayYet .day-alertT{
    margin-bottom: 20px;
}
.dDayYet .dueDay{
    font-size: 24px;
}
.dDayYet .day-alert .day{
    display: inline-block;
    font-size: 28px;
}
.dDayYet .day-alert .rest{
    display: inline-block;
    font-size: 28px;
}

.dDayYet .due{
    font-size: 14px;
    color: #8bcbc8;
}
.dDayYet .day{
    color: #FDAE84;
}
.dDayYet .inform{
    margin-top: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.dDayYet .inform ul{
    
}
.dDayYet .inform li{
    overflow: hidden;
    margin-bottom: 20px;
    color: #fff;
}
.dDayYet .inform span{
    float: left;
    margin-left: 70px;
}
.dDayYet .inform .right{
    float: right;
    margin-right: 70px;
}
.dDayYet .inform p{
    float: left;
}

.dDayYet .deg{

}

/* dDay-------------------------------------------------------------------------- */
.dDay{
    height: 100vh;
    /* display: none; */
}
.dDay .circle{
    width: 300px;
    height: 300px;
    border:4px solid #8bcbc8;
    position: relative;
    border-radius: 50%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}
.dDay br{
    content: '';
    margin: 0;
}
.dDay .day-alert {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    font-weight: bold;
    color: #545454;;
}
.dDay .day-alertT{
    margin-bottom: 20px;
}
.dDay .dueDay{
    font-size: 28px;
    display: inline-block;
}
.dDay .day-alert .day{
    display: inline-block;
    font-size: 28px;
}
.dDay .day-alert .rest{
    display: inline-block;
    font-size: 28px;
}

.dDay .due{
    font-size: 14px;
    color: #8bcbc8;
}
.dDay .day{
    color: #FDAE84;
}
.dDay .inform{
    margin-top: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.dDay .inform ul{
    
}
.dDay .inform li{
    overflow: hidden;
    margin-bottom: 20px;
    /* color: #fff; */
}
.dDay .inform span{
    float: left;
    margin-left: 70px;
}
.dDay .inform .right{
    float: right;
    margin-right: 70px;
    color: #8bcbc8;
}
.dDay .inform p{
    float: left;
}

.dDay .deg{

}


