@charset "UTF-8";

*{margin: 0; padding: 0;}
li{list-style: none; color: #000;}
a{text-decoration: none; color: #000; display: inline-block;}
button{background: none; border: 0;/* outline: none; */}
.blind{font-size: 0; position: absolute; left: -9999px;}
body{font-family: 'NanumSquareRound', sans-serif;}


/* 아이콘 */
.icon{background-image: url(../img/wSprite.png); display: inline-block; background-size: 900px 1000px;}
.icon-google{width: 40px; height: 40px; background-position: 0 0;}
.icon-facebook{width: 40px;height: 40px; background-position: -50px 0;}
.icon-trash{width: 40px; height: 40px; background-position: -100px 0;}
.icon-startW{width: 50px; height: 50px; background-position: -150px 0;}
.icon-start{width: 50px; height: 50px; background-position: -200px 0;}
.icon-end{width: 50px; height: 50px; background-position: -250px 0;}
.icon-love{width: 50px; height: 50px; background-position: -300px 0;}
.icon-loveP{width: 50px; height: 50px; background-position: -350px 0;}
.icon-drug{width: 50px; height: 50px; background-position: -400px 0;}
.icon-plus{width: 50px; height: 50px; background-position: -450px 0;}
.icon-minus{width: 50px; height:50px; background-position: -500px 0;}
.icon-plusW{width: 50px; height:50px; background-position: -550px 0;}


/* 2번째 줄 */
.icon-tip{width: 40px; height: 40px; background-position: 0 -50px;}
.icon-myPage{width:50px; height:50px; background-position: -50px -50px;}
.icon-graph{width:50px; height:50px; background-position: -100px -50px;}
.icon-wcup{width:50px; height:50px; background-position: -150px -50px;}
.icon-setting{width:50px; height:50px; background-position: -200px -50px;}
.icon-loveB{width:50px; height:50px; background-position: -250px -50px;}
.icon-lovePB{width:50px; height:50px; background-position: -300px -50px;}
.icon-loveO{width:50px; height:50px; background-position: -350px -50px;}
.icon-lovePO{width:50px; height:50px; background-position: -400px -50px;}
.icon-drugB{width:50px; height:50px; background-position: -450px -50px;}
.icon-plusBSmall{width: 40px; height: 40px; background-position: -500px -50px;}
.icon-plusWSmall{width: 40px; height: 40px; background-position: -550px -50px;}


/* 3번째 줄 */
.icon-closeW{width: 50px; height: 50px;background-position: 0 100px;}
.icon-myPage.on{width:50px; height:50px; background-position: -50px -100px;}
.icon-graph.on{width:50px; height:50px; background-position: -100px -100px;}
.icon-wcup.on{width:50px; height:50px; background-position: -150px -100px;}
.icon-setting.on{width:50px; height:50px; background-position: -200px -100px;}
.icon-cup1{width:40px; height: 40px; background-position:-250px -100px;}
.icon-cup2{width:40px; height: 40px; background-position:-300px -100px;}
.icon-cup3{width:40px; height: 40px; background-position:-350px -100px;}
.icon-dropdownW{width:32px; height:32px; background-position: -400px -100px;}
.icon-check{width: 40px; height: 40px;background-position: -450px -100px;}
.icon-dropup{width: 40px; height: 40px; background-position: -500px 100px;}
.icon-lovePSmall, .icon-tipLoveP{width: 32px; height: 32px; background-position:-550px -100px;}


/* 4번째 줄 */
.icon-close{width: 40px; height: 40px;background-position: 0 -150px;}
.icon-closeSmall{width: 32px; height: 32px;background-position:-50px -150px ;}
.icon-del{width: 40px; height: 40px;background-position: -100px -150px;}
.icon-pen{width: 40px; height: 40px;background-position: -150px -150px;}
.icon-arrowL{width: 40px; height: 40px;background-position: -200px -150px;}
.icon-arrowLG{width: 40px; height: 40px;background-position: -250px -150px;}
.icon-arrowRG{width: 40px; height: 40px;background-position:-300px -150px;}
.icon-dropdownG{width: 40px; height: 40px;background-position: -350px -150px;}
.icon-startMiddle{width: 40px; height: 40px; background-position: -400px -150px;}
.icon-endMiddle{width: 40px; height: 40px; background-position: -450px -150px;}
.icon-startSmall,.icon-tipStart{width: 32px; height: 32px; background-position:-500px -150px;}
.icon-endSmall, .icon-tipEnd{width: 32px; height: 32px; background-position:-550px -150px;}


/* 5번째 줄 */
.icon-dDay.on{width:60px; height:60px; background-position: 0 -200px;}
.icon-dDay{width:60px; height:60px; background-position: -100px -200px;}
.icon-cal.on{width:60px; height:60px; background-position: -200px -200px;}
.icon-cal{width:60px; height:60px; background-position: -300px -200px;}
.icon-logout{width:60px; height:60px; background-position: -400px -200px;}
.icon-login{width:60px; height:60px; background-position: -500px -200px;}


/* 6번째 줄 */
.icon-startBig{width: 100px; height: 100px; background-position:0 -300px;}
.icon-endBig{width: 100px; height: 100px; background-position:-100px -300px;}
.icon-cup1G{width:100px; height: 100px; background-position: -200px -300px;}
.icon-cup2G{width:100px; height: 100px; background-position: -300px -300px;}
.icon-cup3G{width:100px; height: 100px; background-position: -400px -300px;}
.icon-closeWBig{width: 60px; height: 60px; background-position: -500px -300px;}


/* 오른쪽 */
.icon-logo{width:90px; height:97px; background-position: -600px 0;}
.icon-wcupG{width:21px; height:14px;background-position: -700px 0;}
.icon-wcupB{width:21px; height:14px;background-position: -750px 0;}
.icon-tipArrowL{width:60px; height:40px; background-position: -800px 0;}
.icon-penSmall{width:24px; height:24px; background-position: -700px -50px;}
.icon-logoutSmall{width:24px; height:24px; background-position: -750px -50px;}
.icon-tipArrowR{width:60px; height:40px; background-position: -800px -50px;}
.icon-logoBig{width:236px; height:293px; background-position: -600px -100px;}
.icon-loveSmall, .icon-tipLove{width: 32px; height: 32px; background-position:-850px -100px;}
.icon-drugSmall, .icon-tipDrug{width: 32px; height: 32px; background-position:-850px -150px;}


/* 증상아이콘 */
.icon-bad{width: 80px;height: 80px; background-position: 0 -400px;}
.icon-soso{width: 80px;height: 80px; background-position: -100px -400px;}
.icon-happy{width: 80px;height: 80px; background-position: 0 -500px;}
.icon-sad{width: 80px;height: 80px; background-position: -100px -500px;}
.icon-shy{width: 80px;height: 80px; background-position: 0 -600px;}
.icon-shocked{width: 80px;height: 80px; background-position: -100px -600px;}

.icon-bad.on{width: 80px;height: 80px; background-position: 0 -700px;}
.icon-soso.on{width: 80px;height: 80px; background-position: -100px -700px;}
.icon-happy.on{width: 80px;height: 80px; background-position: 0 -800px;}
.icon-sad.on{width: 80px;height: 80px; background-position: -100px -800px;}
.icon-shy.on{width: 80px;height: 80px; background-position: 0 -900px;}
.icon-shocked.on{width: 80px;height: 80px; background-position: -100px -900px;}

.icon-bad.on2{width: 80px;height: 80px; background-position: -200px -400px;}
.icon-soso.on2{width: 80px;height: 80px; background-position: -200px -500px;}
.icon-happy.on2{width: 80px;height: 80px; background-position: -200px -600px;}
.icon-sad.on2{width: 80px;height: 80px; background-position: -200px -700px;}
.icon-shy.on2{width: 80px;height: 80px; background-position: -200px -800px;}
.icon-shocked.on2{width: 80px;height: 80px; background-position: -200px -900px;}

.icon-appetite{width: 80px;height: 80px; background-position: -300px -400px;}
.icon-fever{width: 80px;height: 80px; background-position:  -400px -400px;}
.icon-dizzy{width: 80px;height: 80px; background-position: -500px -400px;}
.icon-acne{width: 80px;height: 80px; background-position:-300px -500px;}
.icon-chestPain{width: 80px;height: 80px; background-position: -400px -500px;}
.icon-constipation{width: 80px;height: 80px; background-position: -500px -500px;}
.icon-indigestion{width: 80px;height: 80px; background-position: -300px -600px;}
.icon-diarrhea{width: 80px;height: 80px; background-position: -400px -600px;}
.icon-backache{width: 80px;height: 80px; background-position: -500px -600px;}
.icon-diabetes{width: 80px;height: 80px; background-position: 0 -400px;}
.icon-cough{width: 80px;height: 80px; background-position: -100px -400px;}
.icon-throwUp{width: 80px;height: 80px; background-position: -100px -600px;}

.icon-appetite.edit{width: 80px;height: 80px; background-position:-300px -700px;}
.icon-fever.edit{width: 80px;height: 80px; background-position: -400px -700px;}
.icon-dizzy.edit{width: 80px;height: 80px; background-position: -500px -700px;}
.icon-acne.edit{width: 80px;height: 80px; background-position: -300px -800px;}
.icon-chestPain.edit{width: 80px;height: 80px; background-position: -400px -800px;}
.icon-constipation.edit{width: 80px;height: 80px; background-position: -500px -800px;}
.icon-indigestion.edit{width: 80px;height: 80px; background-position:-300px -900px;}
.icon-diarrhea.edit{width: 80px;height: 80px; background-position: -400px -900px;}
.icon-backache.edit{width: 80px;height: 80px; background-position: -500px -900px;}
.icon-diabetes.edit{width: 80px;height: 80px; background-position:-300px -700px;}
.icon-cough.edit{width: 80px;height: 80px; background-position:-300px -700px;}
.icon-throwUp.edit{width: 80px;height: 80px; background-position:-300px -700px;}

.icon-appetite.on{width: 80px;height: 80px; background-position: -600px -400px;}
.icon-fever.on{width: 80px;height: 80px; background-position:-700px -400px ;}
.icon-dizzy.on{width: 80px;height: 80px; background-position:-800px -400px;}
.icon-acne.on{width: 80px;height: 80px; background-position:-600px -500px;}
.icon-chestPain.on{width: 80px;height: 80px; background-position:-700px -500px ;}
.icon-constipation.on{width: 80px;height: 80px; background-position:-800px -500px ;}
.icon-indigestion.on{width: 80px;height: 80px; background-position:-600px -600px;}
.icon-diarrhea.on{width: 80px;height: 80px; background-position: -700px -600px;}
.icon-backache.on{width: 80px;height: 80px; background-position:-800px -600px;}
.icon-diabetes.on{width: 80px;height: 80px; background-position:-600px -400px;}
.icon-cough.on{width: 80px;height: 80px; background-position:-600px -400px;}
.icon-throwUp.on{width: 80px;height: 80px; background-position:-600px -400px;}

.icon-appetite.on2{width: 80px;height: 80px; background-position:-600px -700px ;}
.icon-fever.on2{width: 80px;height: 80px; background-position:-700px -700px ;}
.icon-dizzy.on2{width: 80px;height: 80px; background-position:-800px -700px;}
.icon-acne.on2{width: 80px;height: 80px; background-position:-600px -800px;}
.icon-chestPain.on2{width: 80px;height: 80px; background-position: -700px -800px;}
.icon-constipation.on2{width: 80px;height: 80px; background-position: -800px -800px;}
.icon-indigestion.on2{width: 80px;height: 80px; background-position:-600px -900px;}
.icon-diarrhea.on2{width: 80px;height: 80px; background-position: -700px -900px;}
.icon-backache.on2{width: 80px;height: 80px; background-position:-800px -900px;}
.icon-diabetes.on2{width: 80px;height: 80px; background-position:-600px -700px ;}
.icon-cough.on2{width: 80px;height: 80px; background-position:-600px -700px ;}
.icon-throwUp.on2{width: 80px;height: 80px; background-position:-600px -700px ;}

/* 하단네비게이션 */
.bottomNav{
    position: fixed; bottom: 0;
    width: 100%;height: 60px;
    background: #fff;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 999;
}
.bottomNav ul{overflow: hidden; height: 100%;}
.bottomNav ul li{float: left; height: 100%; width: 20%; text-align: center;}
.bottomNav ul li a{ line-height: 100px;}

/* 하단 버튼 */
/* 100%인버튼 */
.bottomBtn{
    position: absolute; bottom: 0;
    width: 100%; height: 60px;
    border-top: 1px solid #8bcbc8;
    color: #8bcbc8; font-size: 24px;
}
.bottomBtn.active{
    color: #fff; background: #8bcbc8;
    border-top: 0;
}
/* 50%인 버튼 */
.bottomBtn2{
    position: absolute; bottom: 0;
    width: 100%; height: 60px;
    
}
.bottomBtn2 button{color: #fff; font-size: 24px;height: 100%;}
.bottomBtn2 .left{float:left;width:50%;background: #ccc;}
.bottomBtn2 .right{width:50%; background: #8bcbc8;}

/* 탑 */
header{
    height: 60px; background: #8bcbc8;
    color: #fff;
    font-size: 18px; font-weight: 700;
    text-align: center;
    line-height: 60px;
}

/* 영상 */
/* .swiper-container{width: 100%; height: 130px;} */
.slide{margin: 20px 0;}
.video-slide .swiper-wrapper{
    width: 100%;
}



/* 탭메뉴 */
.nav{position: relative;}
.tab-nav{overflow: hidden;}
.tab-nav li{
    float: left; width: 33.33%; text-align: center;
    font-size: 16px; 
    height: 42px; line-height: 42px;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    position: relative;
    transition: 0.3s;
}
.tab-nav li a{color: #666;}

.tab-nav li.active{
    /* border-bottom: 6px solid #8bcbc8;
    box-sizing: border-box; */
}
.tab-nav li.active a{
    font-weight: 800; color: #8bcbc8;
}
/* .tab-nav li span{
    border-bottom: 6px solid #8bcbc8;
    box-sizing: border-box;
    width: 100%;
    display: block;
    position: absolute; bottom: -2px;
    z-index: 1;
    transition: 0.3s;
} */
.nav span{
    border-bottom: 6px solid #8bcbc8;
    box-sizing: border-box;
    width: 33.33%;
    display: block;
    position: absolute; bottom: 0px;
    z-index: 1;
    transition: 0.3s;
}

/* 사용방법 */
.tab-contents{margin-bottom: 100px;}
.tab-contents #tab1 .wrap img{
    width: 100%;
    border: 1px solid #c1c1c1;
    box-sizing: border-box;
}
.tab-contents #tab1 .wrap{
    margin: 30px 70px;
}
.tab-contents #tab1 .wrap p{
    font-size: 14px; line-height: 20px;
    margin: 20px 0;
    color: #666;
    text-align: center;
}
.tab-contents #tab1 .wrap span{
    font-size: 10px; color: #c1c1c1;
    line-height: 15px;
    display: block;
    text-align: center;
}

/* 랭킹 */
#tab3 h3{font-size: 20px; margin: 30px 0 20px 30px;}
#tab3 .swiper-slide a{position: relative; display: inline-block;}
#tab3 .num{
    width: 22px; height: 22px; 
    background: #666; color: #fff; opacity: 0.8;
    font-size: 14px;
    text-align: center; line-height: 22px;
    position: absolute;
    top: 0; left: 0;
}
#tab3 .swiper-slide:nth-child(1) .num{background: #8bcbc8;}
#tab3 img{
    width:130px; height: 130px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#tab3 .slide{margin-left: 30px;}
#tab3 span{
    display: block; font-size: 14px; 
    font-weight: bold; text-align: center;
    width: 130px;
}

/* .swiper-wrapper .swiper-slide:first-child .num{background: #8bcbc8;} */
#tab3 .num.on{background: #8bcbc8;}


.tab-contents > div{display: none;}